<section id="donate" class= "text-center">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 class="section-heading">Donate</h2>
            <h3>Give us happiness.<br>Make a donation today.</h3>
            <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=DYJ23RLXN5VEL" style="margin-bottom: 2em;" target="_blank;" class="bg-primary btn btn-outline btn-xl page-scroll">Donate <i class="fa fa-paypal fa-2x"></i></a>
        </div>
    </div>
</section>
