<section id="get-involved" class="get_involved text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Join our Community and Contribute</h2>
                <p>If you are excited to facilitate lectures at the Free School, have a Placemaking project to propose, or particpate in commoning experiments, get involved.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!--
            <div class="col-lg-6 col-sm-12 text-center">
                <div class="service-box">
                  <ul class="list-inline list-social">
                      {% for network in site.social %}
                      <li class="social-{{ network.title }}">
                          <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
                      </li>
                  {% endfor %}
                  </ul>
                    <h3>Connect</h3>
                    <p class="text-muted">We love new collaborators.</p>
                </div>
            </div>
            -->
            <div class="col-lg-6 col-sm-12 text-center">
                <div class="service-box">
                    <a href="mailto:founders@chozadelmundo.com"><i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i></a>
                    <h3>Propose</h3>
                    <p class="text-muted">Do you have a placemaking or commononing project today or something to propose? Get in touch.</p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 text-center">
                <div class="service-box">
                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=DYJ23RLXN5VEL" target="_blank;"><i class="fa fa-4x fa-paypal fa-2x"></i></a>
                    <h3>Donate</h3>
                    <p class="text-muted">We are a charitable non-profit. Donate today.</p>
                </div>
            </div>
        </div>
    </div>
</section>
