<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>District Commons  seeks to create a network of physical locations around the world which are actively experimenting with new approaches to human sustainability and social systems, with a focus on the programmatic areas of governance, creation (production, resource utilization), and human coordination.</h1>
                        <a href="#get_involved" class="btn btn-outline btn-xl page-scroll">Get Involved!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
