<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>District Commons</h1>
                        <h2>A network of physical locations around the world actively experimenting with commons-based approaches to human sustainability and social systems.</h2>
                        <a href="#get_involved" class="btn btn-outline btn-xl page-scroll">Get Involved!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
