<section id="projects" class="bg-secondary text-center">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 class="section-heading">Commons Projects</h2>
        </div>
    </div>
</section>

<section class="no-padding" id="projects">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" target="blank" class="portfolio-box">
                    <img src="/img/portfolio/choza-fellowship.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Concepcion, Costa Rica
                            </div>
                            <div class="project-name">
                                Fellowship program
                            </div>
                            <div class="project-description">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" target="blank" class="portfolio-box">
                    <img src="/img/portfolio/redvic-front.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                All Locations
                            </div>
                            <div class="project-name">
                                Participatory Governance
                            </div>
                            <div class="project-description">
                                <p>Creating opportunities to people to experience and contribute to participatory governance.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="/img/portfolio/speaking-embassy-network.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Community
                            </div>
                            <div class="project-name">
                                Free School
                            </div>
                            <div class="project-description">
                                <p>Free events, salons and hosted reading groups exploring bringing crticial inquiry to our mission areas.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
